.single-horoscope-container {
  display: flex;
  flex-direction: row;
  height: 64vh;
  /* width: 100vw; */
  background-size: cover;
  align-items: center;
  justify-content: center;
  object-fit: contain;
  /* overflow: hidden; */
  margin-left: 3rem;
  margin-right: 3rem;
  padding-right: 1rem;
  border: 2px double rgb(73 199 178);
  box-shadow: 0px 10px 15px rgb(8 34 79);
}

.greeting {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  color: white;
}

.mushroom-image {
  display: flex;
  object-fit: contain;
  width: 60%;
  height: 76%;
  /* backdrop-filter: blur(14px); */
}

.horoscope-details-container {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(14px);
  border: 2px solid yellow;
  padding: 20px 20px 20px 20px;
  align-items: center;
}

.sign {
  display: flex;
  padding: 20px 0px 20px 0px;
  margin-bottom: 20px;
}

.mushroom-name {
  display: flex;
  padding: 20px 0px 20px 0px;
}

.favorite-button {
 width: 11vw;
 border-radius: 4%;
}
