.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5rem;
  padding-top: 4rem;
  padding-bottom: 1rem;
  padding-right: 5rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.666);
  backdrop-filter: blur(14px);
}

.title {
  display: flex;
  margin-right: 1rem;
  justify-content: center;
  background: -webkit-linear-gradient(#0d4532, #100451);
    -webkit-background-clip: text;
    -webkit-text-fill-color: #0000001a;
  /* color: #122625; */
}

.button-container {
  background-color: #ca348894;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-shadow: 0px 10px 15px rgb(8 34 79);
}

.home-button {
  margin-right: 1rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.666);
}

.saved-horoscopes-button {
  margin-left: 1rem;
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.666);
}
