.saved-card-container {
  border: 3px solid red;
  display: flex;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  margin-left: 2rem;
  margin-right: 2rem;
  width: 40rem;
  height: 17rem;
}


.details-container {
  backdrop-filter: blur(14px);
  border: 2px double rgb(73 199 178);
  box-shadow: 0px 10px 15px rgb(8 34 79);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 14rem;
  height: 14rem;
}
